<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NGinnMessageBus.ServiceHost.ComponentConfig" value="castle" />
    <add key="NGinnMessageBus.Endpoint" value="sql://nginn/MQ_1" />
    <add key="NGinnMessageBus.RoutingFile" value="Routing.json" />
    <add key="NGinnMessageBus.MaxConcurrentMessages" value="1" />
    <add key="NGinnMessageBus.HttpListener" value="" />
    <add key="NGinnMessageBus.MessageRetentionPeriod" value="1.00:00:00" />
    <add key="NGinnMessageBus.EnableSagas" value="true" />
    <add key="NGinnMessageBus.SendOnly" value="false" />
    <add key="NGinnMessageBus.AlwaysPublishLocal" value="true" />
    <add key="NGinnMessageBus.PluginDirectory" value="Plugins" />
  </appSettings>
  <connectionStrings>
    <add name="nginn" providerName="" connectionString="Data Source=(local);Initial Catalog=NGinn;User Id=nginn;Password=PASS" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
