<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="Debug" internalLogFile="../logs/nlog.log" throwExceptions="true">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <extensions>
    <add assembly="NGinnBPM.MessageBus"/>
  </extensions>
  <variable name="logDir" value="${basedir}/../logs"/>

	<targets>
		<target name="err" xsi:type="File" fileName="${logDir}/msgbus_errors.${shortdate}.log" layout="${time}|T${threadid}|M${mdc:nmbrecvmsg}|TI${mdc:ng_inst}|${level}|${logger}|${message}" />
		<target name="con" xsi:type="Console" />
		<target name="all" xsi:type="File" fileName="${logDir}/msgbus.${shortdate}.log" layout="${time}|T${threadid}|M${mdc:nmbrecvmsg}|${level}|${logger}|${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="all" />
    <logger name="*" minlevel="Debug" writeTo="con" />
    <logger name="*" minlevel="Warn" writeTo="err" />
	</rules>
</nlog>
