<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Boo_lang_rg" version="0.9.5.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net40" requireReinstallation="True" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net40" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="nginn-messagebus" version="1.1.8.0" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
</packages>